
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">

  <div nz-row [nzGutter]="24">
  <nz-form-item nz-col [nzSpan]="15">
    <nz-form-control nzErrorTip="Please input your name">
      <nz-form-label nzFor="name">Name</nz-form-label>
      <nz-input-group>
        <input type="text" nz-input formControlName="name" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>


  <nz-form-item nz-col [nzSpan]="6">
    <nz-form-control nzErrorTip="Please select your gender">
      <nz-form-label nzFor="sex">Gender</nz-form-label>
      <nz-select formControlName="sex" nzAllowClear nzPlaceHolder="Choose">
        <nz-option nzValue="Male" nzLabel="Male"></nz-option>
        <nz-option nzValue="Female" nzLabel="Female"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

    <nz-form-item nz-col [nzSpan]="3">
      <nz-form-control nzErrorTip="Please input your age">
        <nz-form-label nzFor="age">Age</nz-form-label>
        <nz-input-group>
          <nz-input-number formControlName="age" [nzMin]="1" [nzMax]="200" [nzStep]="1"></nz-input-number>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </div>

  <nz-form-item >
    <nz-form-control nzErrorTip="Please input your name of physican">
      <nz-form-label nzFor="physician">Physician</nz-form-label>
      <nz-input-group>
        <input type="text" nz-input formControlName="physician" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control nzErrorTip="Please enter diagonsis">
      <nz-form-label nzFor="diagnosis">Diagonsis</nz-form-label>
      <nz-input-group>
        <textarea nz-input formControlName="diagnosis"></textarea>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <div class="d-flex justify-content-end">
    <button nz-button [nzType]="'primary'" class="mr-auto" >Submit</button>
  </div>
</form>
