<!-- <p>
  patients works!
</p> -->

<div class="d-flex justify-content-end mb-4">
  <button nz-button nzType="primary" (click)="onEdit()">Create</button>
</div>
  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="patients">
    <thead>
      <tr>
        <th>Name</th>
        <th>Sex</th>
        <th>Age</th>
        <th>Physician</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patient of patients">
        <td>{{ patient.name }}</td>
        <td>{{ patient.sex }}</td>
        <td>{{ patient.age }}</td>
        <td>{{ patient.physician }}</td>
        <td>
          <button nz-button nzType="link" (click)="onEdit(patient)">Edit</button>
          <button nz-button nzType="danger" (click)="confirmDelete(patient)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
